{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-5">
    <h2>
      <a class="title" href="/blog/{{blog.id}}">{{{get_emoji}}} {{blog.title}}</a>
    </h2>

    <p class="author">Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.description}}
    </p>
  </div>
</div>
{{/each}}